<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper teams new">
  <div class="left">
    <h2>チーム編集</h2>
    <%= form_for @teaminfo, url: team_path do |f| %>
    <%= f.label :name,"チーム名" %><br>
    <%= f.text_field :name, :required => true %><br>
    <%= f.label :logo,"ロゴ" %><br>
    <%= f.file_field :logo %><br>
    <%= f.label :image,"チーム写真" %><br>
    <%= f.file_field :image %><br>
    <%= f.label :pref_id,"主な活動地域" %><br>
    <%= f.collection_select :pref_id, Pref.all, :id, :name %><br>
    <%= f.label:facility_id,"主な活動施設" %><br>
    <%= render partial: 'select_facility', locals: {pref_id: Pref.first.id} %><br>
    <%= f.label :cat_id,"カテゴリー" %><br>
    <%= f.collection_select :cat_id, Cat.all, :id, :name %><br>
    <%= f.label :age_ave,"平均年齢" %><br>
    <%= f.select :age_ave,(10..50) %><br>
    <%= f.label:attack,"攻撃" %><br>
    <%= f.select :attack,(1..10) %><br>
    <%= f.label:phisycal,"フィジカル" %><br>
    <%= f.select :physical,(1..10) %><br>
    <%= f.label:stamina,"スタミナ" %><br>
    <%= f.select :stamina,(1..10) %><br>
    <%= f.label:defense,"守備" %><br>
    <%= f.select :defense,(1..10) %><br>
    <%= f.label:tactics,"戦術" %><br>
    <%= f.select :tactics,(1..10) %><br>
    <%= f.label:technique,"テクニック" %><br>
    <%= f.select :technique,(1..10) %><br>
    <%= f.label :email,"メールアドレス" %><br>
    <%= f.email_field :email, :required => true %><br>
    <%= f.label :password,"パスワード" %><br>
    <%= f.password_field :password, :required => true %><br>
    <%= f.label :comment,"チーム紹介" %><br>
    <%= f.text_area :comment, :required => true %><br>
    <%= f.submit "プロフィールを変更する" ,:class => "btn btn-info" %>
    <% end %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>