<main>
<div class="advertising">
<img src="/banner.jpg" width="100%">
</div>
<div class="wrapper teams">
    <div class="left">
        <h2>チーム検索</h2>
        <section>
        <div class="serch">
        <div class="cp_ipselect cp_sl01 wi-30">
            <select name="pref">
                <option value="">都道府県</option>
                <option value="1">大阪府</option>
                <option value="2">兵庫県</option>
                <option value="3">京都府</option>
                <option value="4">滋賀県</option>
                <option value="5">奈良県</option>
                <option value="6">和歌山県</option>
            </select>
        </div>
        <div class="cp_ipselect cp_sl01 wi-60">
            <select name="facility">
                <option value="">主な活動施設</option>
                <option value="1">CABO</option>
                <option value="2">アスコマヤフットサル</option>
                <option value="3">マグフットサル</option>
                <option value="4">ミズノフットサル</option>
            </select>
        </div>
        </div>
        <div class="serch">
        <div class="cp_ipselect cp_sl01 wi-30">
            <select name="rank">
                <option value="">ランク</option>
                <option value="1">SS</option>
                <option value="2">S</option>
                <option value="3">A</option>
                <option value="4">B</option>
                <option value="5">C</option>
                <option value="6">D</option>
            </select>
        </div>
        <div class="cp_ipselect cp_sl01 wi-60">
            <select name="facility">
                <option value="">カテゴリー</option>
                <option value="1">CABO</option>
                <option value="2">アスコ</option>
                <option value="3">マグ</option>
                <option value="4">ミズノ</option>
            </select>
        </div>
        </div>
        <div class="serch">
         <input class="btn btn-lg" href="#" role="button" value="検索" &raquo;>
        </div>
        </section>
        
        <h2>チーム情報</h2>
        <div class="team-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
        </div>
        <div class="team-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
        </div>
        <div class="team-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="team-list">
              <h3>名古屋オーシャンズ</h3>
              <div class="team-list-item">
              <div class="team-list-left">
                  <img class="img" src="/team.jpg">
              </div>
              <div class="team-list-right">
                  <img class="chart" src="/chart.jpg">
              </div>
              </div>
          </div>
          <% end %>
        </div>
    </div>
    
    <div class="right">
        <h2>最新記事</h2>
        <ul class="post">
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
            <li class="post-item clearfix">
                <img src="/post1.jpg">
                <a>優勝できなくてもアイテムがもらえる</a>
            </li>
        </ul>
    </div>
</div>
</main>