<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper teams">
  <div class="left">
    <h2>チーム検索</h2>
    <div class="serch">
      <%= form_for @teaminfo, url: teams_serch_path,  :method => 'get' do |f| %>
      <%= f.collection_select :pref, Pref.all, :id, :name, {:include_blank => "地域"}, :class => "wi25" %>
      <%= f.collection_select :facility, Facility.all, :id, :name, {:include_blank => "主な活動施設"}, :class => "wi73" %>
      <%= f.collection_select :rank, Rank.all, :id, :name, {:include_blank => "ランク"}, :class => "wi25" %>
      <%= f.collection_select :cat, Cat.all, :id, :name, {:include_blank => "カテゴリー"}, :class => "wi73" %>
      <%= f.submit "検索", :class => "team-color"%>
      <% end %>
    </div>
    
    <h2>チーム情報</h2>
    <div class="team-list-flex">
      <% @teaminfos.each do |teaminfo| %>
      <%= link_to team_path(teaminfo) do %>
      <div class="team-list">
        <h3><%= teaminfo.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{teaminfo.image}" %>">
          </div>
          <div class="team-list-right">
            <table>
              <tr>
                <th><i class="fas fa-medal"></i></th>
                <td><%= teaminfo.rank.name %></td>
              </tr>
              <tr>
                <th><i class="fas fa-map-marker-alt"></i></th>
                <td><%= teaminfo.pref.name %></td>
              </tr>
              <tr>
                <th><i class="fas fa-map-marked-alt"></i></th>
                <td><%= teaminfo.facility.name %></td>
              </tr>
              <tr>
                <th><i class="fas fa-futbol"></i></th>
                <td><%= teaminfo.cat.name %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>