<main>
<div class="advertising">
<img src="/banner.jpg" width="100%">
</div>
<div class="wrapper teams">
  <div class="left">
    <h2>チーム検索</h2>
    <div class="serch">
      <%= form_for @teaminfo, url: teams_path,  :method => 'get' do |f| %>
      <%= f.collection_select :pref, Pref.all, :id, :name, {:include_blank => "地域"}, :class => "wi25" %>
      <%= f.collection_select :facility, Facility.all, :id, :name, {:include_blank => "主な活動施設"}, :class => "wi73" %>
      <%= f.collection_select :rank, Rank.all, :id, :name, {:include_blank => "ランク"}, :class => "wi25" %>
      <%= f.collection_select :cat, Cat.all, :id, :name, {:include_blank => "カテゴリー"}, :class => "wi73" %>
      <%= f.submit "検索", :class => "team-color"%>
      <% end %>
    </div>
    
    <h2>チーム情報</h2>
    <div class="team-list-flex">
      <% @teaminfos.each do |teaminfo| %>
      <%= link_to team_path(teaminfo) do %>
      <div class="team-list">
        <h3><%= teaminfo.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{teaminfo.image}" %>">
          </div>
          <div class="team-list-right">
            <p><%= teaminfo.prefecture.name %></p>
            <p><%= teaminfo.court.name %></p>
            <p><%= teaminfo.category.name %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
    
  <div class="right">
    <h2>最新記事</h2>
    <ul class="post">
      <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <li class="post-item clearfix">
          <img src="<%="/post_images/#{post.image}" %>">
          <p><%= post.title %></p>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
</main>