<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper teams">
  <div class="left">
    <h2>チーム検索</h2>
    <div class="serch">
      <%= form_for @teaminfo, url: teams_path,  :method => 'get' do |f| %>
      <!--paramsとるためのダミー-->
      <%= hidden_field_tag :id, 0  %>
      <!--end-->
      <%= f.collection_select :pref_id, Pref.all, :id, :name, {:include_blank => "地域",:selected => @selected_pref}, :class => "wi100" %>
      <%= render partial: 'select_facility', locals: {pref_id: @facilitybox} %>
      <%= f.collection_select :cat_id, Cat.all, :id, :name, {:include_blank => "カテゴリー",:selected => @selected_cat}, :class => "wi100" %>
      <%= f.submit "検索", :class => "team-color"%>
      <% end %>
    </div>
    
    <h2>チーム情報</h2>
    <div class="team-list-flex">
      <% @teaminfos.each do |teaminfo| %>
      <%= link_to team_path(teaminfo)  do%>
      <div class="team-list" data-turbolinks="false">
        <h3><%= teaminfo.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <%= image_tag teaminfo.image.url,class:"img" if teaminfo.image? %>
          </div>
          <div class="team-list-right">
            <table>
              <tr>
                <th><i class="fas fa-map-marker-alt"></i></th>
                <td><%= teaminfo.pref.name %></td>
              </tr>
              <tr>
                <th><i class="fas fa-map-marked-alt"></i></th>
                <td><%= teaminfo.facility.name %></td>
              </tr>
              <tr>
                <th><i class="fas fa-futbol"></i></th>
                <td><%= teaminfo.cat.name %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <%= paginate @teaminfos %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>