<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper teams">
  <div class="left">
    <h2>チーム情報詳細</h2>
    <div class="team-detail">
      <h3><%= @teaminfo.name %></h3>
      <div class ="team-show">
        <div class="team-list-left">
          <img class="img" src="<%= "/team_images/#{@teaminfo.image}" %>">
        </div>
        <div class="team-list-right" style="text-align:center">
          <img class="img" src="<%= "/logo_images/#{@teaminfo.logo}" %>">
        </div>
      </div>
      
      <div class="chart">
        <canvas id="myChart" width="350" height="170">
              Canvas not supported...
        </canvas>
        <script>draw_graph();</script>
      </div>
      
      <table>
        <tr>
          <th>活動地域</th>
          <td><%= @teaminfo.pref.name %></td>
        </tr>
        <tr>
          <th>主な活動施設</th>
          <td><%= @teaminfo.facility.name %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @teaminfo.cat.name %></td>
        </tr>
        <tr>
          <th>平均年齢</th>
          <td><%= @teaminfo.age_ave %></td>
        </tr>
        <tr>
          <th>チーム紹介</th>
          <td><p><%= @teaminfo.comment %></p></td>
        </tr>
      </table>
      <% if @teaminfo.id == session[:team_id] || session[:team_id] == 1 %>
      <div class="edit-delete">
        <%= link_to "プロフィールを変更する","/teams/#{@teaminfo.id}/edit",class: "btn btn-info btn-sm" %>
        <%= link_to "退会する", team_path(@teaminfo), :method => :delete, class: "btn btn-danger btn-sm",data: { confirm: "(#{@teaminfo.name})\n退会してもよろしいですか？" } %>
      </div>
      <% end %>
    </div>
    
    <h2>対戦募集中</h2>
    <% @teaminfo.match_reqs.each do |matchreq| %>
    <%= link_to match_path(matchreq) do %>
    <div class="match-list">
      <h3><i class="far fa-calendar-alt"></i>　<%= matchreq.match_date.strftime("%-m月%-d日") %>
          (<%= @week[matchreq.match_date.wday] %>)　
          <%= matchreq.match_date.strftime("%R") %>〜<%= matchreq.end_time.strftime("%R") %></h3>
      <h3><i class="fas fa-map-marked-alt"></i>　<%= matchreq.facility.name %></h3>
      <h4><i class="fas fa-futbol"></i>　募集カテゴリー　<%= matchreq.category.name %></h4>
      <img src="<%= "/logo_images/#{@teaminfo.logo}" %>">
      <p><%= matchreq.team_info.name %></p>
    </div>
    <% end %>
    <% end %>
    
    <h2>応募中</h2>
    <% @teaminfo.apply_matches.each do |applymatch| %>
    <%= link_to match_path(applymatch) do %>
    <div class="match-list">
      <h3><i class="far fa-calendar-alt"></i>　<%= applymatch.match_req.match_date.strftime("%-m月%-d日") %>
          (<%= @week[applymatch.match_req.match_date.wday] %>)　
          <%= applymatch.match_req.match_date.strftime("%R") %>〜<%= applymatch.match_req.end_time.strftime("%R") %></h3>
      <h3><i class="fas fa-map-marked-alt"></i>　<%= applymatch.match_req.facility.name %></h3>
      <h4><i class="fas fa-futbol"></i>　募集カテゴリー　<%= applymatch.match_req.category.name %></h4>
      <img src="<%= "/logo_images/#{applymatch.match_req.team_info.logo}" %>">
      <p><%= applymatch.match_req.team_info.name %></p>
    </div>
    <% end %>
    <% end %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>
