<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper rooms new">
  <div class="left">
    <h2>記事作成</h2>
    <div class="message">
        <%= @message.content %>
      <div class="edit-delete">
          <%= link_to "編集",edit_message_path(@message),class: "btn btn-info" %>
        <%= link_to "削除", message_path(@message), :method => :delete, class: "btn btn-danger",data: { confirm: 'メッセージを削除してもよろしいですか？' } %>
      </div>
    </div>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>