<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper signin new">
  <div class="left">
    <h2>ログイン</h2>
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email,"メールアドレス" %><br>
    <%= f.email_field :email, :required => true %><br>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password, :required => true %><br>
    <%= f.submit "ログイン", class: "btn btn-info" %>
    <% end %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>