<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper matchs">
  <div class="left">
    <h2>対戦募集検索</h2>
    <div class="serch">
      <%= form_for @matchreq, url: matchs_path,  :method => 'get' do |f| %>
      <!--paramsとるためのダミー-->
      <%= hidden_field_tag :id, 0  %>
      <!--end-->
      <%= f.collection_select :pref_id, Pref.all, :id, :name, {:include_blank => "地域"}, :class => "wi100" %>
      <%= render partial: 'select_facilityy', locals: {pref_id: Pref.all} %>
      <%= f.collection_select :req_cat, Cat.all, :id, :name, {:include_blank => "募集カテゴリー"}, :class => "wi100" %>
      <%= f.submit "検索", :class => "match-color"%>
      <% end %>
    </div>
    
    <h2>対戦募集情報</h2>
    <% @matchreqs.each do |matchreq| %>
    <%= link_to match_path(matchreq) do %>
      <div class="match-list">
      <h3><i class="far fa-calendar-alt"></i>　<%= matchreq.match_date.strftime("%-m月%-d日") %>
      (<%= @week[matchreq.match_date.wday] %>)　
      <%= matchreq.start_time.strftime("%R") %>〜<%= matchreq.end_time.strftime("%R") %></h3>
      <h3><i class="fas fa-map-marked-alt"></i>　<%= matchreq.facility.name %></h3>
      <h4><i class="fas fa-futbol"></i>　募集カテゴリー　<%= matchreq.category.name %></h4>
      <img src="<%= "/logo_images/#{matchreq.team_info.logo}" %>">
      <p><%= matchreq.team_info.name %></p>
      </div>
    <% end %>
    <% end %>
    <%= paginate @matchreqs %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>