<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper matchs new">
  <div class="left">
    <h2>対戦募集作成</h2>
      <%= form_for @matchreq, url: matchs_path  do |f| %>
      <p>必須項目(<span>※</span>)</p>
      <% @matchreq.errors.full_messages.each do |message| %>
      <%= message %><br>
      <% end %>
      <%= f.label :match_date,"開催日" %><br>
      <%= f.date_select :match_date,:use_month_numbers => true, :date_separator => "/" ,:start_year => (Time.now.year)%><br>
      <%= f.label :start_time,"開始時間" %><br>
      <%= f.time_select :start_time ,:minute_step => 30 %><br>
      <%= f.label :end_time,"終了時間" %><br>
      <%= f.time_select :end_time ,:minute_step => 30 %><br>
      <%= f.label :pref_id,"地域" %><span>※</span><br>
      <%= f.collection_select :pref_id, Pref.all, :id, :name, {:include_blank => "地域"} %><br>
      <%= f.label:facility_id,"開催施設" %><span>※</span><br>
      <%= render partial: 'select_facilityy', locals: {pref_id: Pref.first.id} %><br>
      <%= f.label :req_cat,"募集カテゴリー" %><br>
      <%= f.collection_select :req_cat, Cat.all, :id, :name,:selected => 4 %><br>
      <%= f.label :req_team_num,"募集チーム数" %><br>
      <%= f.select :req_team_num,[1,2,3,4,5,6,7,8] %><br>
      <%= f.label :content,"募集詳細" %><span>※</span><br>
      <%= f.text_area :content, :required  => true%><br>
      <%= f.submit "対戦募集を作成する" ,:class => "btn btn-info"%>
      <% end %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>