<main>
<div class="advertising">
  <img src="/banner.jpg" width="100%">
</div>
<div class="wrapper matchs">
  <div class="left">
    <h2>対戦募集詳細</h2>
    <div class="match-detail">
      <h3>●<%= @matchreq.match_date.strftime("%-m月%-d日") %>
          (<%= @week[@matchreq.match_date.wday] %>)　
          ●<%= @matchreq.start_time.strftime("%R") %>〜<%= @matchreq.end_time.strftime("%R") %>　
          ●<%= @matchreq.court.name %></h3>
      <h3>●募集ランク　<%= @matchreq.ranking.name %>　●募集カテゴリー　</h3>
      <h3>●応募期限　<%= @matchreq.start_time.strftime("%Y年 %-m月%-d日 %R") %>まで　●募集チーム<%= @matchreq.req_team_num %>(空き枠)</h3>
      <h3>●投稿者　<%=@team.name%></h3>  
      <div class="detail">
        <p><%= @matchreq.content %></p>
      </div>
      <div class="ede">
        <%= form_for @applymatch, url: apply_matchs_create_path do |f| %>
        <%= f.label :comment %><br>
        <%= f.text_area :comment %><br>
        <%= f.submit "応募する", class: "btn btn-info" %>
        <% end %>
        <%= link_to "編集","/matchs/#{@matchreq.id}/edit",class: "btn btn-info" %>
        <%= link_to "削除", match_path(@matchreq), :method => :delete, class: "btn btn-danger" %>
      </div>
    </div>
    
    <h2>参加チーム</h2>
    <div class="team-list-flex">
      <%= link_to team_path(@matchreq.team_info) do %>
      <div class="team-list">
        <h3><%= @matchreq.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{@matchreq.team_info.image}"%>">
          </div>
          <div class="team-list-right">
            <p>ランク　<%= @matchreq.team_info.ranking.name %></p>
            <p><%= @matchreq.team_info.prefecture.name %></p>
            <p><%= @matchreq.team_info.court.name %></p>
            <p><%= @matchreq.team_info.category.name %></p>
          </div>
        </div>
      </div>
      <% end %>
      
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 1 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team.image}" %>">
          </div>
          <div class="team-list-right">
            <p><%= applymatch.team.ranking.name %></p>
            <p><%= applymatch.team.prefecture.name %></p>
            <p><%= applymatch.team.court.name %></p>
            <p><%= applymatch.team.category.name %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <h2>承認待ちチーム</h2>
    <div class="team-list-flex">
      <% @matchreq.apply_matches.each do |applymatch| %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team.image}" %>">
          </div>
          <div class="team-list-right">
            <p><%= applymatch.team.ranking.name %></p>
            <p><%= applymatch.team.prefecture.name %></p>
            <p><%= applymatch.team.court.name %></p>
            <p><%= applymatch.team.category.name %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>