<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper matchs">
  <div class="left">
    <h2>対戦募集詳細</h2>
    <div class="match-detail">
      <h3><i class="far fa-calendar-alt"></i>　<%= @matchreq.match_date.strftime("%-m月%-d日") %>
          (<%= @week[@matchreq.match_date.wday] %>)　
          <%= @matchreq.start_time.strftime("%R") %>〜<%= @matchreq.end_time.strftime("%R") %>　
          <i class="fas fa-map-marked-alt"></i>　<%= @matchreq.court.name %></h3>
      <h3><i class="fas fa-medal"></i>　募集ランク　<%= @matchreq.ranking.name %>　<i class="fas fa-futbol"></i>　募集カテゴリー　</h3>
      <h3><i class="fas fa-stopwatch"></i>　応募期限　<%= @matchreq.start_time.strftime("%Y年 %-m月%-d日 %R") %>まで　<i class="fas fa-search-plus"></i>　募集チーム<%= @matchreq.req_team_num %>(空き枠)</h3>
      <h3>●　主催者　<%=@matchreq.team_info.name%></h3>  
      <div class="detail">
        <p><%= simple_format @matchreq.content %></p>
      </div>
      <% if session[:team_id] %>
      <div class="ede">
        <%= form_tag("/apply_matchs/#{@matchreq.id}/create", :method => :post) do %>
        <% if @matchreq.team_info.id != session[:team_id] %>
        <P>コメント(150文字以内)</P>
        <textarea name="comment" value="<%= @applymatch.comment %>"></textarea><br>
        <input type="submit" value="応募する" class="btn btn-info">
        <% end %>
        <% end %>
        <% if @matchreq.team_info.id == session[:team_id] %>
        <%= link_to "編集","/matchs/#{@matchreq.id}/edit",class: "btn btn-info" %>
        <%= link_to "削除", match_path(@matchreq), :method => :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
      <% end %>
    </div>
    
    <h2>参加チーム</h2>
    <div class="team-list-flex">
      <%= link_to team_path(@matchreq.team_info) do %>
      <div class="team-list">
        <h3><%= @matchreq.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{@matchreq.team_info.image}"%>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-medal"></i>　<%= @matchreq.team_info.ranking.name %></p>
            <p><i class="fas fa-map-marker-alt"></i>　<%= @matchreq.team_info.prefecture.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= @matchreq.team_info.category.name %></p>
            <p>平均年齢　<%= @matchreq.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
      
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 1 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team_info.image}" %>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-medal"></i>　<%= applymatch.team_info.ranking.name %></p>
            <p><i class="fas fa-map-marker-alt"></i>　<%= applymatch.team_info.prefecture.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= applymatch.team_info.category.name %></p>
            <p>平均年齢　<%= applymatch.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <% if @current_team.id == @matchreq.team_info_id %>
    <h2>承認待ちチーム</h2>
    <div class="team-list-flex">
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 0 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team_info.image}" %>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-medal"></i>　<%= applymatch.team_info.ranking.name %></p>
            <p><i class="fas fa-map-marker-alt"></i>　<%= applymatch.team_info.prefecture.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= applymatch.team_info.category.name %></p>
            <p>平均年齢　<%= applymatch.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
      <div class="apply-comment">
        <p>コメント</p>
        <p><%= applymatch.comment %></p>
        <%= form_tag("/apply_matchs/#{@matchreq.id}/update", :method => :patch) do %>
        <input type="submit" value="承認する" class="btn btn-info">
        <%= hidden_field_tag :team_info_id, applymatch.team_info_id  %> 
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>