<main>
<%= render partial: 'layouts/advertising' %>
<div class="wrapper matchs">
  <div class="left">
    <h2>対戦募集詳細</h2>
    <div class="match-detail">
      <h3><i class="far fa-calendar-alt"></i>　<%= @matchreq.match_date.strftime("%-m月%-d日") %>(<%= @week[@matchreq.match_date.wday] %>)　
      <%= @matchreq.start_time.strftime("%R") %>〜<%= @matchreq.end_time.strftime("%R") %></h3>
      <h3><i class="fas fa-map-marked-alt"></i>　<%= @matchreq.facility.name %></h3>
      <h3><i class="fas fa-futbol"></i>　募集カテゴリー　</h3>
      <h3><i class="fas fa-stopwatch"></i>　応募期限　<%= @exdate.strftime("%Y年 %-m月%-d日 %R") %>まで</h3>
      <h3><i class="fas fa-search-plus"></i>　募集チーム<%= @matchreq.req_team_num %>(残り<%= @remaining %>)</h3>
      <h3>●　主催者　<%=@matchreq.team_info.name%></h3>  
      <div class="detail">
      <h3>詳細コメント</h3>
      <%= simple_format @matchreq.content %>
      </div>
      <% if session[:team_id] %>
      <div class="ede">
        <%= form_tag("/apply_matchs/#{@matchreq.id}/create", :method => :post) do %>
        <% if @applymatch_check %>
        <p class="btn btn-danger btn-sm">応募済み</p>
        <% elsif @time >= @exdate %>
        <p class="btn btn-danger btn-sm">応募を締め切りました</p>
        <% elsif @matchreq.team_info.id != session[:team_id] %>
        <P>コメント(130文字以内)</P>
        <textarea name="comment" value="<%= @applymatch.comment %>"></textarea><br>
        <input type="submit" value="応募する" class="btn btn-info">
        <% end %>
        <% end %>
        <% if @matchreq.team_info.id == session[:team_id] %>
        <%= link_to "対戦募集を変更する","/matchs/#{@matchreq.id}/edit",class: "btn btn-info btn-sm" %>
        <%= link_to "対戦募集を削除する", match_path(@matchreq), :method => :delete, class: "btn btn-danger btn-sm",data: { confirm: '対戦募集を削除しますか？' } %>
        <% end %>
      </div>
      <% end %>
    </div>
    
  <% if session[:team_id] == @matchreq.team_info_id %>
    <h2>参加チーム</h2>
    <div class="team-list-flex">
      <%= link_to team_path(@matchreq.team_info) do %>
      <div class="team-list">
        <h3><%= @matchreq.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{@matchreq.team_info.image}"%>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-map-marker-alt"></i>　<%= @matchreq.team_info.pref.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= @matchreq.team_info.cat.name %></p>
            <p>平均年齢　<%= @matchreq.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="team-list-flex">
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 1 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team_info.image}" %>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-map-marker-alt"></i>　<%= applymatch.team_info.pref.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= applymatch.team_info.cat.name %></p>
            <p>平均年齢　<%= applymatch.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
      
      <div class="apply-comment">
        <p>応募コメント</p>
        <p><%= applymatch.comment %></p>
        <div class="comment-btn">
        <%= form_tag("/apply_matchs/#{@matchreq.id}/remove", :method => :post) do %>
        <%= hidden_field_tag :team_info_id, applymatch.team_info_id  %> 
        <%= submit_tag "参加チームから外す" ,:class => "btn btn-danger btn-sm",data: { confirm: '...' }%>
        <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    
    <h2>応募チーム</h2>
    <div class="team-list-flex">
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 0 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team_info.image}" %>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-map-marker-alt"></i>　<%= applymatch.team_info.pref.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= applymatch.team_info.cat.name %></p>
            <p>平均年齢　<%= applymatch.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>

      <div class="apply-comment">
        <p>応募コメント</p>
        <p><%= applymatch.comment %></p>
        <div class="comment-btn">
        <%= form_tag("/apply_matchs/#{@matchreq.id}/update", :method => :patch) do %>
        <input type="submit" value="承認する" class="btn btn-info btn-sm">
        <%= hidden_field_tag :team_info_id, applymatch.team_info_id  %> 
        <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    
  <% else %>
    <h2>参加チーム</h2>
    <div class="team-list-flex">
      <%= link_to team_path(@matchreq.team_info) do %>
      <div class="team-list">
        <h3><%= @matchreq.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{@matchreq.team_info.image}"%>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-map-marker-alt"></i>　<%= @matchreq.team_info.pref.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= @matchreq.team_info.cat.name %></p>
            <p>平均年齢　<%= @matchreq.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
    
      <% @matchreq.apply_matches.each do |applymatch| %>
      <% if applymatch.status == 1 %>
      <%= link_to team_path(applymatch.team_info) do %>
      <div class="team-list">
        <h3><%= applymatch.team_info.name %></h3>
        <div class="team-list-item">
          <div class="team-list-left">
            <img class="img" src="<%= "/team_images/#{applymatch.team_info.image}" %>">
          </div>
          <div class="team-list-right">
            <p><i class="fas fa-map-marker-alt"></i>　<%= applymatch.team_info.pref.name %></p>
            <p><i class="fas fa-futbol"></i>　<%= applymatch.team_info.cat.name %></p>
            <p>平均年齢　<%= applymatch.team_info.age_ave %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  <% end %>
    
    
    
    
    
  </div>
  <%= render partial: 'posts/post' %>
</div>
</main>

        