<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Futsal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <%= stylesheet_link_tag    'top','hambarger', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="top-empty"></div>
<% if flash[:danger] %>
  <div class="top-flash alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>
  <img class="top-bg"src="/top-bg.png">

  <header>
  <nav>
    <ul class="col-sm-3">
      <!--ログイン-->
      <% if logged_in? %>
      <li>
        <%= link_to root_url do %>
        <img class="futmake" src="/futmake-logo.png"></a>
        <% end %>
        </li>
        <li class="top-box">
        <%= link_to "ログアウト",logout_path, method: :delete,class: "btn btn-default btn-sm" %>
        </li>
      </li>
        
        <!--ログアウト-->
      <% else %>
      <li>
        <%= link_to root_url do %>
        <img class="futmake" src="/futmake-logo.png"></a>
        <% end %>
      </li>
      <li class="top-box">
        <%= link_to "新規登録",new_team_path ,class: "btn btn-primary btn-sm"%>
        <%= link_to "ログイン ",login_path ,class: "btn btn-success btn-sm"%>
      </li>
      <% end %>
    </ul>
    <ul class="col-sm-9">
      <!--ログイン-->
      <% if logged_in? %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to new_match_path do %>
        <i class="far fa-handshake fa-2x" style="color: #65222B;"></i>
        <% end %>
        <%= link_to "対戦作成", new_match_path %>
      </li>
      <li class="awsome">
        <%= link_to rooms_path do %>
        <i class="far fa-comment-dots fa-2x" style="color: #5BC44E;"></i>
        <% end %>
        <%= link_to "メッセージ", rooms_path%>
      </li>
      <li class="hidden">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "コート",courts_path %>
      </li>
      <li class="hidden">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      
      <!--ログアウト-->
      <% else %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "コート",courts_path %>
      </li>
      <li class="awsome">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      <li class="hidden">
        <%= link_to new_team_path do %>
        <i class="fas fa-edit fa-2x text-primary"></i>
        <% end %>
        <%= link_to "新規登録",new_team_path %>
      </li>
      <li class="hidden">
        <i class="fas fa-key fa-2x text-success"></i>
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
      
      <!--ハンバーガーメニュー-->
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <!--ログイン-->
          <% if logged_in? %>
          <li>
            <div>
              <img src="<%= "/logo_images/#{@current_team.logo}" %>">
            </div>
            <div>
              <p><%= @current_team.name %></p>
              <%= link_to "チームプロフィールを確認する", "/teams/#{@current_team.id}" ,:style =>"color:#54B4C6;"%>
            </div>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to new_match_path do %>
            <i class="far fa-handshake fa-2x" style="color: #65222B;"></i>
            <% end %>
            <%= link_to "対戦作成",new_match_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="far fa-comment-dots fa-2x" style="color: #5BC44E"></i>
            <% end %>
            <%= link_to "メッセージ",posts_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-unlock-alt fa-2x"></i>
            <% end %>
            <%= link_to "ログアウト",logout_path, method: :delete %>
          </li>
          <li>
            <%= link_to "利用規約","/terms" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","/privacy" %>
          </li>
          <li>
            <%= link_to "お問い合わせ",new_contact_path %>
          </li>
          <li>
            <%= link_to "広告掲載","/advertising" %>
          </li>
          
          <!--ログアウト-->
          <% else %>
          <li>
            <%= link_to "ホーム",root_path %>
          </li>
          <li>
            <i class="fas fa-key fa-2x text-success"></i>
            <%= link_to "ログイン", login_path %>
          </li>
          <li>
            <%= link_to new_team_path do %>
            <i class="fas fa-edit fa-2x text-primary"></i>
            <% end %>
            <%= link_to "新規登録",new_team_path %>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <%= link_to "利用規約","/terms" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","/privacy" %>
          </li>
          <li>
            <%= link_to "お問い合わせ",new_contact_path %>
          </li>
          <li>
            <%= link_to "広告掲載","/advertising" %>
          </li>
          <% end %>
        </div>
      </div>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h2>フットメイクは対戦相手を手軽に探せるマッチングサービスです</h2>
     <h3>フットメイクの特徴</h3>
      <ul class="top-wrapper">
        <li class="bgcolor-gray"><h4 style="border-left:6px solid #F2F2F2;">細かく分けられたカテゴリー</h4><img src="/category.png"><p>細かく分けられたカテゴリーでミスマッチなマッチメイクを避けるれる</p></li>
        <li class="bgcolor-gray"><h4 style="border-left:6px solid #F2F2F2;">チームバランスをグラフ表示</h4><img src="/chart.png"><p>攻撃、フィジカル、スタミナ、ディフェンス、戦術、テクニックのチームバランスをグラフで表示することでチームの特徴がわかる</p></li>
        <li class="bgcolor-gray"><h4 style="border-left:6px solid #F2F2F2;">参加チームがわかる</h4><img src="/applyteam.png"><p>対戦募集ごとの参加チームが表示されるので、自分たちの求める対戦相手と対戦することができる</p></li>
      </ul>
  </section>
  <section>
    <h3>フットメイクの使い方</h3>
      <ul class="top-wrapper">
        <li class="bgcolor-white"><h4 style="border-left:6px solid #007bff;">新規登録</h4>
        <table>
          <tr>
            <th>・</th>
            <td>各項目を入力してチーム登録をしてください。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>新規登録時のチームバランスは、能力の優劣をつけるものではなく、チームのバランス、チームの特徴を表すものとしてご利用ください。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>チーム登録をすると、対戦募集の作成・編集、対戦募集への応募・承認・除外、メッセージ、チームプロフィールの変更、チームの退会が使用できます。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #FB9C1E";>チーム</h4>
        <table>
          <tr>
            <th>・</th>
            <td>チームの検索、チーム情報を見ることができます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>右上のハンバーガーメニューからチームプロフィールの確認・変更ができます。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #65222B;">対戦作成</h4>
        <table>
          <tr>
            <th>・</th>
            <td>基本的にはコートを確保してから対戦作成を行ってください。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>各項目を入力して対戦募集を作成してください。対戦募集を作成すると、メッセージにチャットルームが作成されます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>応募期限は開催日の開始時間から12時間前に設定されています。</td>
          </tr>
        </table>
        </li>
      </ul>
      
      <ul class="top-wrapper">
        <li class="bgcolor-white"><h4 style="border-left:6px solid #F94519;">対戦募集</h4>
        <table>
          <tr>
            <th></th>
            <td>応募者</td>
          </tr>
          <tr>
            <th>・</th>
            <td>検索機能で自分たちにあった対戦募集を見つけ、応募してくだい。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>応募が承認されると、メッセージにチャットルームが表示されメッセージが使用できます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>募集チームの残りが0になっても、キャンセルが発生する可能性があるので、応募することが可能です。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #F94519";>対戦募集</h4>
        <table>
          <tr>
            <th></th>
            <td>主催者</td>
          </tr>
          <tr>
            <th>・</th>
            <td>応募されたチームが対戦募集詳細ページでで応募チームとして表示されます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>承認すると参加チームに移動し、メッセージルームに追加されます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>除外すると、応募チームに戻り、メッセージルームから除外されます。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #5BC44E;">メッセージ</h4>
        <table>
          <tr>
            <th>・</th>
            <td>対戦募集が作成された時と対戦募集に承認された時にメッセージルームが作成されます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>チャットルームからメッセージのやりとりができます。</td>
          </tr>
          <tr>
            <th>・</th>
            <td>対戦募集から除外されるとそのチームのメッセージも全て削除されますのでご注意ください。</td>
          </tr>
        </table>
        </li>
      </ul>
      
      <ul class="top-wrapper">
        <li class="bgcolor-white"><h4 style="border-left:6px solid #B9FE28;">コート</h4>
        <table>
          <tr>
            <th>・</th>
            <td>フットサルコートの検索、フットサルコートの情報を見ることができます。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #FCF023";>ニュース</h4>
        <table>
          <tr>
            <th>・</th>
            <td>お知らせや、ニュース、フットサルに関する記事などをご覧いただけます。</td>
          </tr>
        </table>
        </li>
        <li class="bgcolor-white"><h4 style="border-left:6px solid #333;"><i class="fas fa-bars"></i>　ハンバーガーメニュー</h4>
        <table>
          <tr>
            <th>・</th>
            <td>対戦募集が作成された時と対戦募集に承認された時にメッセージルームが作成されます。</td>
          </tr>
        </table>
        </li>
      </ul>
  </section>
</main>
<%= render partial: 'layouts/footer' %>
</body>
</html>

