<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Futsal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <%= stylesheet_link_tag    'top','hambarger', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="top-empty"></div>
  <img class="top-bg"src="/top-bg.png">

  <header>
  <nav>
    <ul class="col-sm-3">
      <!--ログイン-->
      <% if logged_in? %>
      <li>
        <%= link_to root_url do %>
        <img class="futmake" src="/futmake-logo.png"></a>
        <% end %>
      </li>
        
        <!--ログアウト-->
      <% else %>
      <li>
        <%= link_to root_url do %>
        <img class="futmake" src="/futmake-logo.png"></a>
        <% end %>
      </li>
      <li class="top-box">
        <%= link_to "新規登録",new_team_path ,class: "btn btn-primary btn-sm"%>
        <%= link_to "ログイン ",login_path ,class: "btn btn-success btn-sm"%>
      </li>
      <% end %>
    </ul>
    <ul class="col-sm-9">
      <!--ログイン-->
      <% if logged_in? %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to new_match_path do %>
        <i class="far fa-handshake fa-2x" style="color: #65222B;"></i>
        <% end %>
        <%= link_to "対戦作成", new_match_path %>
      </li>
      <li class="awsome">
        <%= link_to rooms_path do %>
        <i class="far fa-comment-dots fa-2x" style="color: #5BC44E;"></i>
        <% end %>
        <%= link_to "メッセージ", rooms_path%>
      </li>
      <li class="hidden">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "コート",courts_path %>
      </li>
      <li class="hidden">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      <li class="hidden">
        <i class="fas fa-user fa-2x" style="color:#54B4C6;"></i>
        <%= link_to "マイページ", "/teams/#{@current_team.id}" %>
      </li>
      
      <!--ログアウト-->
      <% else %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "コート",courts_path %>
      </li>
      <li class="awsome">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      <li class="hidden">
        <%= link_to new_team_path do %>
        <i class="fas fa-edit fa-2x text-primary"></i>
        <% end %>
        <%= link_to "新規登録",new_team_path %>
      </li>
      <li class="hidden">
        <i class="fas fa-key fa-2x text-success"></i>
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
      
      <!--ハンバーガーメニュー-->
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <!--ログイン-->
          <% if logged_in? %>
          <li>
            <div>
              <img src="<%= "/logo_images/#{@current_team.logo}" %>">
            </div>
            <div>
              <p><%= @current_team.name %></p>
              <%= link_to "チームプロフィールを確認する", "/teams/#{@current_team.id}" ,:style =>"color:#54B4C6;"%>
            </div>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to new_match_path do %>
            <i class="far fa-handshake fa-2x" style="color: #65222B;"></i>
            <% end %>
            <%= link_to "対戦作成",new_match_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="far fa-comment-dots fa-2x" style="color: #5BC44E"></i>
            <% end %>
            <%= link_to "メッセージ",posts_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
            <i class="fas fa-unlock-alt fa-2x"></i>
            <% end %>
            <%= link_to "ログアウト",logout_path, method: :delete %>
          </li>
          <li>
            <%= link_to "利用規約","/terms" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","/privacy" %>
          </li>
          <li>
            <%= link_to "お問い合わせ",new_contact_path %>
          </li>
          <li>
            <%= link_to "広告掲載","/advertising" %>
          </li>
          
          <!--ログアウト-->
          <% else %>
          <li>
            <%= link_to "ホーム",root_path %>
          </li>
          <li>
            <i class="fas fa-key fa-2x text-success"></i>
            <%= link_to "ログイン", login_path %>
          </li>
          <li>
            <%= link_to new_team_path do %>
            <i class="fas fa-edit fa-2x text-primary"></i>
            <% end %>
            <%= link_to "新規登録",new_team_path %>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <%= link_to "利用規約","/terms" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","/privacy" %>
          </li>
          <li>
            <%= link_to "お問い合わせ",new_contact_path %>
          </li>
          <li>
            <%= link_to "広告掲載","/advertising" %>
          </li>
          <% end %>
        </div>
      </div>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h2>フットメイクは対戦相手を手軽に探せるマッチングサービスです。</h2>
      <ul class="container">
        <div class="row">
        <li class="col-md-4"><p>細かく分けられたカテゴリー</p><img src="/top-bg.png" style="width:100%;">細かく分けられたカテゴリーで自分たちのチームに合った対戦相手を探せる</li>
        <li class="col-md-4"><p>チームバランスをグラフ表示</p><img src="/top-bg.png" style="width:100%;">攻撃、フィジカル、スタミナ、守備、戦術、テクニックのチームバランスをグラフで表示することでチームの特徴がわかる</li>
        <li class="col-md-4"><p>参加チームがわかる</p><img src="/top-bg.png" style="width:100%;">対戦募集の参加チームが表示されるので、</li>
        </div>
      </ul>
  </section>
</main>
<%= render partial: 'layouts/footer' %>
</body>
</html>

