<main>
<!--<%= render partial: 'layouts/advertising' %>-->
  <div class="wrapper courts">
    <div class="left">
      <h2>フットサルコート検索</h2>
      <div class="serch">
        <%= form_for @court, url: courts_path, :method => 'get' do |f| %>
        <!--paramsとるためのダミー-->
        <%= hidden_field_tag :id, 0  %>
        <!--end-->
        <%= f.collection_select :pref_id, Pref.all, :id, :name, {:include_blank => "地域"}, :class => "wi100" %>
        <%= f.submit "検索", :class => "match-color"%>
        <% end %>
      </div>
      
      <h2>フットサルコート情報</h2>
      <% @courts.each do |court| %>
      <%= link_to court_path(court) do %>
      <div class="court-list">
        <div class="court-list-left">
          <img class="img" src="<%= "/court_images/#{court.image}" %>">
        </div>
        <div class="court-list-right">
          <h3><%= court.name %></h3>
          <p><%= court.address %></p>
        </div>
      </div>
      <% end %>
      <% end %>
      <%= paginate @courts %>
    </div>
    <%= render partial: 'posts/post' %>
  </div>
</main>