<main>
<div class="advertising">
    <img src="/banner.jpg" width="100%">
</div>
    <div class="wrapper courts">
        <div class="left">
        <h2>フットサルコート検索</h2>
        <section>
        <div class="serch">
        <div class="cp_ipselect cp_sl01 wi-30">
            <select name="pref">
                <option value="">都道府県</option>
                <option value="1">大阪府</option>
                <option value="2">兵庫県</option>
                <option value="3">京都府</option>
                <option value="4">滋賀県</option>
                <option value="5">奈良県</option>
                <option value="6">和歌山県</option>
            </select>
        </div>

        </div>
        
        <div class="serch">
         <input class="btn btn-lg" href="#" role="button" value="検索" &raquo;>
        </div>
        </section>
        
        <h2>フットサルコート情報</h2>
        <div class="court-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
        </div>
        <div class="court-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
        </div>
        <div class="court-list-flex">
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
          <%= link_to match_path(:id) do %>
          <div class="court-list">
              <img class="img" src="/team.jpg">
              <h3>名古屋オーシャンズ</h3>
          </div>
          <% end %>
        </div>
        </div>
        
        <div class="right">
            <h2>最新記事</h2>
            <ul class="post">
                <li class="post-item clearfix">
                    <img src="/post1.jpg">
                    <a>優勝できなくてもアイテムがもらえる</a>
                </li>
                <li class="post-item clearfix">
                    <img src="/post1.jpg">
                    <a>優勝できなくてもアイテムがもらえる</a>
                </li>
                <li class="post-item clearfix">
                    <img src="/post1.jpg">
                    <a>優勝できなくてもアイテムがもらえる</a>
                </li>
                <li class="post-item clearfix">
                    <img src="/post1.jpg">
                    <a>優勝できなくてもアイテムがもらえる</a>
                </li>
            </ul>
        </div>
    </div>
</main>