<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper posts new">
  <div class="left">
    <h2>記事作成</h2>
    <div class="post-edit">
      <%= form_for @post do |f| %>
      <%= f.label :image,"記事写真" %><br>
      <%= f.file_field :image %><br>
      <%= f.label :title,"タイトル" %><br>
      <%= f.text_field :title, value: @post.title %><br>
      <%= f.label :content,"内容" %><br>
      <%= f.text_area :content, value: @post.content %><br>
      <%= f.submit "編集する",:class => "btn btn-info" %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'posts/popular' %>
</div>
</main>