<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper posts">
  <div class="left">
    <h2>最新記事</h2>
    <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <div class="post-list">
      <div class="post-list-left">
        <%= image_tag post.image.url,class:"img" if post.image? %>
      </div>
      <div class="post-list-right">
        <h3><%= post.title %></h3>
        <%= simple_format post.content.truncate(100) %>
      </div>
    </div>
    <% end %>
    <% end %>
    <%= paginate @posts %>
  </div>
  <%= render partial: 'posts/popular' %>
</div>
</main>