<main>
<div class="advertising">
  <img src="/banner.jpg" width="100%">
</div>
<div class="wrapper posts">
  <div class="left">
    <h2>最新記事</h2>
    <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <div class="post-list">
      <div class="post-list-left">
        <img class="img" src="<%= "/post_images/#{post.image}" %>">
      </div>
      <div class="post-list-right">
        <h3><%= post.title %></h3>
        <%= simple_format post.content.truncate(100) %>
      </div>
    </div>
    <% end %>
    <% end %>
    <%= paginate @posts %>
  </div>
    
  <div class="right">
    <h2>オススメ記事</h2>
    <ul class="post">
      <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <li class="post-item clearfix">
        <img src="<%="/post_images/#{post.image}" %>">
        <p><%= post.title %></p>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
</main>