<main>
<div class="advertising">
    <img src="/banner.jpg" width="100%">
</div>
    <div class="wrapper posts new">
        <div class="left">
        <h2>記事作成</h2>
          <%= form_for @post, url: posts_path  do |f| %>
          <%= f.label :image,"記事写真" %><br>
          <%= f.file_field :image %><br>
          <%= f.label :title,"タイトル" %><br>
          <%= f.text_field :title %><br>
          <%= f.label :content,"内容" %><br>
          <%= f.text_area :content %>
          <%= f.submit "新規投稿する",:class => "btn btn-info btn-sm" %>
          <% end %>
        </div>
        <div class="right">
            <h2>オススメ記事</h2>
            <ul class="post">
                <% @posts.each do |post| %>
              <%= link_to post_path(post) do %>
                <li class="post-item clearfix">
                    <img src="<%="/post_images/#{post.image}" %>">
                    <p><%= post.title %></p>
                </li>
                <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</main>