<main>
<!--<%= render partial: 'layouts/advertising' %>-->
<div class="wrapper posts">
  <div class="left">
    <h2>記事</h2>
    <div class="post-detail">
      <h1><%= @post.title %></h1>
      <%= simple_format @post.content %>
      <div class="edit-delete">
        <%= link_to "編集",edit_post_path(@post),class: "btn btn-info" %>
        <%= link_to "削除", post_path(@post), :method => :delete, class: "btn btn-danger",data: { confirm: '退会してもよろしいですか？' } %>
      </div>
    </div>
  </div>
  <%= render partial: 'posts/popular' %>
</div>
</main>