<header>
  <nav>
    <ul class="col-sm-3">
      <li>
        <%= link_to root_url do %>
        <img src="/logo.png"></a>
        <% end %>
      </li>
    </ul>
    <ul class="col-sm-9">
      <!--ログイン-->
      <% if logged_in? %>
      <%= current_team.name %>
      <%= link_to "Log out", logout_path, method: :delete %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "マッチメイク","#" %>
      </li>
      <li class="awsome">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "やりとり", "#"%>
      </li>
      <li class="hidden">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      <li class="hidden">
        <i class="fas fa-key fa-2x text-success"></i>
        <%= link_to "マイページ", "/teams/#{@current_team.id}" %>
      </li>
      
      <!--ログアウト-->
      <% else %>
      <li class="awsome">
        <%= link_to matchs_path do %>
        <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
        <% end %>
        <%= link_to "対戦募集",matchs_path %>
      </li>
      <li class="awsome">
        <%= link_to teams_path do %>
        <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
        <% end %>
        <%= link_to "チーム",teams_path %>
      </li>
      <li class="awsome">
        <%= link_to courts_path do %>
        <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
        <% end %>
        <%= link_to "コート",courts_path %>
      </li>
      <li class="awsome">
        <%= link_to posts_path do %>
        <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
        <% end %>
        <%= link_to "ニュース",posts_path %>
      </li>
      <li class="hidden">
        <%= link_to new_team_path do %>
        <i class="fas fa-edit fa-2x text-primary"></i>
        <% end %>
        <%= link_to "新規登録",new_team_path %>
      </li>
      <li class="hidden">
        <i class="fas fa-key fa-2x text-success"></i>
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
      
      <!--ハンバーガーメニュー-->
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <!--ログイン-->
          <% if logged_in? %>
          <li>
            <div>
              <img src="<%= "/logo_images/#{@current_team.logo}" %>">
            </div>
            <div>
              <p><%= @current_team.name %></p>
              <%= link_to "チームプロフィールを確認する", "/teams/#{@current_team.id}" ,:style =>"color:#54B4C6;"%>
            </div>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "マッチメイク",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "やりとり",posts_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #81D59E;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <a>利用規約</a>
          </li>
          <li>
            <a>プライバシーポリシー</a>
          </li>
          <li>
            <a>お問い合わせ</a>
          </li>
          <li>
            <a>広告主募集</a>
          </li>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
          
          <!--ログアウト-->
          <% else %>
          <li>
            <%= link_to "ホーム",root_path %>
          </li>
          <li>
            <i class="fas fa-key fa-2x text-success"></i>
            <%= link_to "ログイン", login_path %>
          </li>
          <li>
            <%= link_to new_team_path do %>
            <i class="fas fa-edit fa-2x text-primary"></i>
            <% end %>
            <%= link_to "新規登録",new_team_path %>
          </li>
          <li>
            <%= link_to matchs_path do %>
            <i class="fas fa-handshake fa-2x" style="color: #F94519;"></i>
            <% end %>
            <%= link_to "対戦募集",matchs_path %>
          </li>
          <li>
            <%= link_to teams_path do %>
            <i class="fas fa-futbol fa-2x" style="color: #FB9C1E;"></i>
            <% end %>
            <%= link_to "チーム",teams_path %>
          </li>
          <li>
            <%= link_to courts_path do %>
            <i class="fas fa-map-marked-alt fa-2x" style="color: #B9FE28;"></i>
            <% end %>
            <%= link_to "コート",courts_path %>
          </li>
          <li>
            <%= link_to posts_path do %>
            <i class="fas fa-volume-up fa-2x" style="color: #FCF023;"></i>
            <% end %>
            <%= link_to "ニュース",posts_path %>
          </li>
          <li>
            <a>利用規約</a>
          </li>
          <li>
            <a>プライバシーポリシー</a>
          </li>
          <li>
            <a>お問い合わせ</a>
          </li>
          <li>
            <a>広告主募集</a>
          </li>
          <% end %>
        </div>
      </div>
    </ul>
  </nav>
</header>